body{
    position:relative;
    top:0px;
    left:0px;
    margin-bottom:47px;
    background:#e6e6e7;
    margin:0px;
    font: 15px/24px Calibri, Verdana, Helvetica, sans-serif;
    color:#000000;
    padding:0px;
}
h1{font-size: 30px;}
h2{font-size: 15px;text-transform:uppercase;letter-spacing:2px;}
h3{font-size: 15px;}
a{text-decoration:underline; color:#000000;}
img{border:0px;padding:0px;margin:0px;align:center;}

tr, td {
   padding:0px;
   margin:0px;
   border:0px;
   border-spacing:0px;
   line-height:24px;
}

table.center {
    width:100%;
    table-layout:fixed;
    text-wrap:normal;
    margin-left:auto;
    margin-right:auto;
    padding:0px;
    margin:0px;
    border:0px;
    cellpadding:0px;
    border-spacing:0px;
    text-align:center;
    vertical-align:center;
}


/****************************************************/
/* HEADER */
/****************************************************/

header{
	width:950px;
	height:236px;
	padding:0px;
	margin: 0px;
	border: 0px;
	position: fixed;
	top:0px;
	left:50%;
	margin: 0 0 0 -475px;
}

div#logo{
    width:950px;
    height:170px;
    float:left;
    color:#FFFFFF;
}


div#main-menu{
    padding:0px;
    margin: 0px;
    border: 0px;
    height:66px;
    width:950px;
    float:left;
}

#main-menu a {text-decoration:none; color:#FFFFFF;}
#main-menu a:hover {color:#000000;}

#main-menu lu{
    padding:0px;
    margin: 0px;
    border: 0px;
    width:950px;
}

#main-menu li{
    list-style:none;
    font: 15px Calibri;
    letter-spacing:2px;
    text-transform:uppercase;
    color:#FFFFFF;
    padding-left:8px;
    padding-right:8px;
    margin-left:0px;
    margin-right:0px;
    border-left:1px solid white;
    display: inline;
    height:15px;
    line-height:15px;
    -webkit-line-break-inside: avoid;
    break-inside: avoid-line;
    page-break-inside: avoid;
}

/****************************************************/
/* CONTAINER */
/****************************************************/


container{
    top:236px;
    width:678px;
    left:50%;
    margin: 0 0 0 -339px;
    margin-bottom:47px;
    background:#e6e6e7;
    overflow:auto;
    padding:0px;
    padding-bottom:80px;
}



.photo{
    margin-left:auto;
    margin-right:auto;
}

.content{
    overflow:auto;
    width:678px;
    margin-left:auto;
    margin-right:auto;
    text-align:justify;
    padding-top:236px;
}
.content img{float:left}
.content li{
    list-style:disc;
    margin-left:15px;
}

#submissions li{
    list-style:upper-alpha; /* Remove list bullets */
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 47px;
  background-color: white;
  width: 100%;
}

footer img{
    align:center;
}



/****************************************************/
/* MISC */
/****************************************************/
.top-divider, .bottom-divider{
    width:678px;
    height:10px;
    margin-left:auto;
    margin-right:auto;
    background:url(images/divider.png) repeat-x;
    clear:both;
}

.footnote{
    font-size: 12px;
    margin-bottom:47px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
