body{
  background:#e6e6e7;
  font: 15px/24px Calibri, Verdana, Helvetica, sans-serif;
  color:#000000;
}

h1{font-size: 30px;}
h2{font-size: 15px;text-transform:uppercase;letter-spacing:2px;}
h3{font-size: 15px;}
a{text-decoration:underline; color:#000000;}

/****************************************************/
/* HEADER */
/****************************************************/

/* Small devices */
@media (max-width: 576px) {
    .container{
      padding: 0;
    }
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.navbar-default{
  background-color: #48b9c0;
  text-align: center;
}

.nav{
  text-transform:uppercase;
  font: 15px Calibri;
  letter-spacing:2px;
}

.navbar-nav>li>a{
  line-height:2px;

}

.nav li a {
  text-decoration:none;
  color:#FFFFFF !important;
}

.nav li a:hover {
  color:#000000 !important;
}

/****************************************************/
/* CONTAINER */
/****************************************************/

/****************************************************/
/* FOOTER */
/****************************************************/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 47px;
  background-color: white;
  width: 100%;
}

footer img{
    align:center;
}
